@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
}

@theme {

  /* Брейкпоинты */

  --breakpoint-sm: 30rem;
  /* 480px  */
  --breakpoint-md: 48rem;
  /* 768px  */
  --breakpoint-lg: 64rem;
  /* 1024px */
  --breakpoint-desk: 92.5rem;
  /* 1480px */

  /* Цвета */

  --color-darkGreen: #142B23;
  --color-lightGreen: #5E785F;
  --color-beige: #EFE5D9;
  --color-sand: #BC9C5F;

}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  max-width: 90rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0 auto;
}

@media (min-width: 1920px) {
  html {
    font-size: calc(100vw / 120);
  }
}